header{
  position:sticky;
    width: 90%;
    margin: 0 auto;
    display: flex;
  
    background-color: rgb(49, 43, 43);
    /* margin:10px auto; */
    /* padding:16px 32px; */
    box-shadow: 0 0 10px 0 rgba(0,2,2,1.3);
}
header h1{
    color:white;
    font-weight:300;
    margin-left: 5%;
}
footer{
  width: 89%;
  position: sticky;
  /* position:absolute; */
  display: flex;
  background-color: yellow;
  margin: 5px auto;
  margin-left: 5%;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgb(49, 43, 43);
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
   
}
footer p{
    color:white;
}
note {
    width:200px;
    height:50px;
 background-color:yellow;
    
}
note h3{
    color:violet;
}
.main{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(180, 111, 21);
  margin-top: 10px;
  border-radius: 5px;
  
}
.form{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 10%;
  padding:10px;
  margin-bottom: 10%;
  width: 300px;

}
.input-field{
  padding: 10px;
}
  .table {
    margin-left: 9%;
    width: 60%;
   
    margin-top: 5%;
   
  }
  
  th, td {
    text-align: left;
   width: 300px;
    height:10px;
    vertical-align: bottom;
  }
  table{
    background-color: thistle;
    
  }
  
  input{
   border-bottom: 2px solid black;
   margin-left: 8px;
  
   
  }
  .age{
    padding-right: 52px;
  }
  label{
    font-size: 18px;
    font-weight: 700;
  }
  button{
    width:80px;
    height:30px;
    border-radius: 7px;
  }
  .add-btn:hover{
    transform: scale(1.15);
  }
  tr{
    padding-top: 2px;
    background-color: tomato;
  }
  .student{
    color: turquoise;
  }